*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;  
}
.header{
 -webkit-box-shadow:inset 0 3px 0 0 #3f4e86;
  box-shadow:inset 0 3px 0 0 #3f4e86;
 padding-top: 25px ;
 margin-bottom: 20px;
 position: relative;
 z-index: 2;
}
.page{
  position: relative;
 z-index: 1;
}
.wrapper{
  padding: 0 20px;
  max-width: 960px; 
  margin: 0 auto;
}
[class*= "col-"]{
  padding: 0 20px;
  width: 100%;
  height: auto;
}

@media (min-width: 560px){
  .col-phablet-1-4{
   max-width: 33.33%;
  }
 .col-phablet-3-4{
   max-width: 66.66%;   
  }
 .col-phablet-1-3{
   max-width: 50%;   
  } 
}

@media (min-width: 768px){
  .col-tablet-1-4{
   max-width: 33.33%;
  }
 .col-tablet-3-4{
   max-width: 66.66%;
  }
 .col-tablet-1-3{
   max-width: 50%;
  }
}

@media (min-width: 960px){
  .col-desktop-1-4{
   max-width: 25%;
  } 
  .col-desktop-3-4{
   max-width: 75%; 
  }
 .col-desktop-1-3{
  max-width: 33.33%; 
  }
}
.row{
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;  
}

.wrapper_full-width{
  max-width: 940px;
}
.fixed-footer, .fixed-header {
  display: flex;
  flex-direction: column;
}
.fixed-header{
  height: 100%;
}
.fixed-header .page{
  overflow-y: scroll;
}
.fixed-footer .page{
  flex: 1 auto;
}
.fixed-footer .footer{
  margin-top: auto;
}
[href^="tel:"] {
  text-decoration: none;
  white-space: nowrap;
}
body:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 230px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,ffffff+100 */
  background: rgb(234,234,234); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.header__top{
  display: flex;  
  font-size: 12px;    
  background-color: #3f4e86;
  align-items: center;
  justify-content:  space-between;
  padding: 10px 15px;
  margin-bottom: 1px;
  color: #fff;
}
.header__top a{
  display: flex;
  padding-left: 5px;
  flex-direction: row;
  color: #aad4ff;
  justify-content:  center;
  font-size: 13px;
}
.header__top > a:last-child{
  flex-direction: row-reverse;
}
.header__top > div:first-child{
 display: flex;
}
.header__bottom{
  margin-bottom: 20px;
  display: flex;
}
.advantage{
  background: ededed;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content:  center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 5px;
  flex-basis: 25%;
}
.advantage_block2{
  background-image: url('../img/advantage-bg1.jpg');  
}
.advantage_block3{
  background-image: url('../img/advantage-bg2.jpg');  
}
.advantage_block4{
  background-image: url('../img/advantage-bg3.jpg');  
}
.advantage__text{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  flex: 1 auto;
  padding-right: 10px;
}
.advantage__icon, .block__icon {  
  display: flex;
  flex-basis: 60px;
  min-width: 60px;
  align-items: center;
  justify-content:  center;
}

.menu{
  margin-bottom: 10px;
}
a{
  text-decoration: none;
}   
.menu ul {
  list-style: none;  
}
.menu__submenu {
  display: none;
}
.menu__topmenu li:hover .menu__submenu {
  display: block;
}
li {
  display: table;
  height: 30px;
  background: #e4e5e9;
  min-width: 100%;
  padding-left: 13px;
  box-shadow:inset 0 1px 0 0 #f4f4f4;
  border-bottom: 1px solid #d7d7d7;  
}
.text__title{
  font-size: 24px; 
  color: #626c97;  
}
.text__text{
   font-size: 13px;
}
.text__text span {
  color: #3f4e86;
} 
.text__title_black{
  color: black;
  font-size: 21px;
}
.text__subtitle{
  font-size: 17px;
  color: black;
}

.painted-block{
  background: #3f4e86;
  color: #cacfe2;
  font-size: 12px;
  padding: 15px 10px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 220px;
  text-align: center; 

}
.block__circle{
  border-radius: 100%;
  width: 60px; 
  height: 60px;
  background: #3f4e86;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}
.service{
  border-bottom: 1px #dadada solid; 
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.possibility__text{
  display: flex;
  color: #3f4e86;
  margin: 10px;
} 
.possibility{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
p{
  margin: 10px 0;
}
.block_phrase .text__subtitle{
  text-align: center; 
}
@media (max-width: 560px ){
  .header__top{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  } 
}
@media (max-width: 460px ) {
    .header__top > div:first-child {
    flex-direction: column;
   }  
}
@media (max-width: 850px ){
  .header__bottom{
    display: flex;
    flex-wrap: wrap;
  }
  .header__bottom > *{
    flex: 1 50%;
  }
}
@media (max-width: 500px ){
  .header__bottom {
    display: flex;
    flex-wrap: wrap;
  }
  .header__bottom > *{
    flex: 1 100%;
  }
}
.footer__contacns {
  display: flex;  
  font-size: 12px;  
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: #8a8a8a 1px solid;
  color: #6b6b6b;
  justify-content: space-between; 
}
.footer__contacns a{
  text-decoration: none;
  color: #6b6b6b;
}  
@media (max-width: 460px ){
  .footer__contacns {
    display: flex;
    flex-wrap: wrap;         
  }
    .footer__contacns > *{
       flex: 1 100%;
       margin-bottom: 15px;
  }
}